name: Check
on:
  workflow_call:
    inputs:
      flake:
        type: string
        default: github:emacs-twist/internal
      package:
        type: string
        default: default-checks
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: nixbuild/nix-quick-install-action@2c9db80fb984ceb1bcaa77cdda3fdf8cfba92035 # v34
      - name: Run check
        id: check
        run: nix run ${{ inputs.flake }}#${{ inputs.package }} -- --fail-on-change
        continue-on-error: true
      - name: Show diff if check failed
        if: steps.check.outcome == 'failure'
        run: git diff
      - name: Exit if check failed
        if: steps.check.outcome == 'failure'
        run: exit 1
